In [2]:
from pydataset import data

In [3]:
mpg = data('mpg')

In [4]:
## Copy the code from the lesson to create a dataframe full of student grades.

In [5]:
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})
print(df)

       name  math  english  reading
0     Sally    62       85       80
1      Jane    88       79       67
2     Suzie    94       74       95
3     Billy    98       96       88
4       Ada    77       92       98
5      John    79       76       93
6    Thomas    82       64       81
7     Marie    93       63       90
8    Albert    92       62       87
9   Richard    69       80       94
10    Isaac    92       99       93
11     Alan    92       62       72

In [6]:
## a. Create a column named passing_english that indicates whether each student has a passing grade in english.
df.english >= 70

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7     False
8     False
9      True
10     True
11    False
Name: english, dtype: bool

In [7]:
# 
df['passing_english'] = df.english > 70
df

       name  math  english  reading  passing_english
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
9   Richard    69       80       94             True
10    Isaac    92       99       93             True
11     Alan    92       62       72            False

In [8]:
# b. Sort the english grades by the passing_english column. How are duplicates handled?

sorted_df = df.sort_values(by='english')
print(sorted_df)

## duplicates are not sorted alphabetically as I expected, but maybe by other column values

       name  math  english  reading  passing_english
8    Albert    92       62       87            False
11     Alan    92       62       72            False
7     Marie    93       63       90            False
6    Thomas    82       64       81            False
2     Suzie    94       74       95             True
5      John    79       76       93             True
1      Jane    88       79       67             True
9   Richard    69       80       94             True
0     Sally    62       85       80             True
4       Ada    77       92       98             True
3     Billy    98       96       88             True
10    Isaac    92       99       93             True

In [9]:
## c. Sort the english grades first by passing_english and then by student name. All the students that are failing 
##english should be first, and within the students that are failing english they should be ordered alphabetically. 
##The same should be true for the students passing english. (Hint: you can pass a list to the .sort_values method)

sorted_df = df.sort_values(by='passing_english')
sorted = sorted_df.sort_values('name', ascending=True)
print(sorted)

       name  math  english  reading  passing_english
4       Ada    77       92       98             True
11     Alan    92       62       72            False
8    Albert    92       62       87            False
3     Billy    98       96       88             True
10    Isaac    92       99       93             True
1      Jane    88       79       67             True
5      John    79       76       93             True
7     Marie    93       63       90            False
9   Richard    69       80       94             True
0     Sally    62       85       80             True
2     Suzie    94       74       95             True
6    Thomas    82       64       81            False

In [10]:
## d. Sort the english grades first by passing_english, and then by the actual english grade, similar to how we 
## did in the last step.

df = df.sort_values(['passing_english', 'name',],ascending=[True, True])
print (df)

       name  math  english  reading  passing_english
11     Alan    92       62       72            False
8    Albert    92       62       87            False
7     Marie    93       63       90            False
6    Thomas    82       64       81            False
4       Ada    77       92       98             True
3     Billy    98       96       88             True
10    Isaac    92       99       93             True
1      Jane    88       79       67             True
5      John    79       76       93             True
9   Richard    69       80       94             True
0     Sally    62       85       80             True
2     Suzie    94       74       95             True

In [11]:
## e. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the 
## average of the math, english, and reading grades.

# create a new column
df['overall grade'] = round((df.english + df.math + df.reading)/3, 0)
print(df)

       name  math  english  reading  passing_english  overall grade
11     Alan    92       62       72            False           75.0
8    Albert    92       62       87            False           80.0
7     Marie    93       63       90            False           82.0
6    Thomas    82       64       81            False           76.0
4       Ada    77       92       98             True           89.0
3     Billy    98       96       88             True           94.0
10    Isaac    92       99       93             True           95.0
1      Jane    88       79       67             True           78.0
5      John    79       76       93             True           83.0
9   Richard    69       80       94             True           81.0
0     Sally    62       85       80             True           76.0
2     Suzie    94       74       95             True           88.0

In [12]:
## 2. Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

mpg = data('mpg')
data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [13]:
## 2a. How many rows and columns are there? 
mpg.head(7)
mpg.shape()
##234 rows and 11 columns

TypeError: 'tuple' object is not callable

In [14]:
## 2b. What are the data types of each column?
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [15]:
## 2c. Summarize the dataframe with .info and .describe
mpg.info

<bound method DataFrame.info of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

In [16]:
mpg.describe

<bound method NDFrame.describe of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

In [17]:
## 2d. Rename the cty column to city.

mpg.rename(columns={"cty": "city"})

,manufacturer,model,displ,year,cyl,trans,drv,city,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [18]:
## 2e. Rename the hwy column to highway.

mpg.rename(columns ={'hwy': 'highway'})

,manufacturer,model,displ,year,cyl,trans,drv,cty,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [19]:
## 2f. Do any cars have better city mileage than highway mileage?

# make a new column that answers whether or not any car gets better mileage in the city over highway
mpg['city v. highway mileage'] = (mpg.cty > mpg.hwy)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,city v. highway mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,False
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,False
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,False
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,False
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,False
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,False

In [20]:
## 2g. Create a column named mileage_difference this column should contain the difference between highway and city 
## mileage for each car.

mpg['mileage_difference'] = mpg.hwy- mpg.cty
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,city v. highway mileage,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,False,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,False,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,False,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,False,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,False,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,False,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,False,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,False,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,False,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,False,9

In [21]:
## 2h. Which car (or cars) has the highest mileage difference?

column = mpg["mileage_difference"]
max_value = column.max()
print(max_value)

12

In [39]:
## 2i. Which compact class car has the lowest highway mileage? The best?
compact_mpg = [mpg['class'] == 'compact']
compact_mpg

[1       True
 2       True
 3       True
 4       True
 5       True
        ...
 230    False
 231    False
 232    False
 233    False
 234    False
 Name: class, Length: 234, dtype: bool]

In [40]:
# now return a df that includes only compact cars
mpg_compact = mpg[mpg['class'] == 'compact']
mpg_compact.sample(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,city v. highway mileage,mileage_difference,average_mileage
9,False,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,False,9,20.5
190,False,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,False,9,26.5
208,False,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,False,8,25.0
3,False,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,False,11,25.5
221,False,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,False,7,20.5
13,False,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,False,8,21.0
196,False,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,False,9,30.5
219,False,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,False,8,25.0
12,False,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,False,10,20.0
7,False,a4,3.1,2008,6,auto(av),f,18,27,p,compact,False,9,22.5

In [43]:
# now I need to sort them and return the row with lowest hwy mileage
mpg_compact.sort_values(by = 'hwy').tail()
# manual jetta with 44 is the best

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,city v. highway mileage,mileage_difference,average_mileage
195,False,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,False,9,28.5
196,False,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,False,9,30.5
198,False,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,False,9,30.5
197,False,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,False,9,32.5
213,False,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,False,11,38.5

In [44]:
mpg_compact.sort_values(by = 'hwy').head(5)
# automatic jetta with 23 is the worst

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,city v. highway mileage,mileage_difference,average_mileage
220,False,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,False,7,19.5
221,False,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,False,7,20.5
212,False,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,False,7,20.5
172,False,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,False,6,22.0
170,False,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,False,5,22.5

In [23]:
## 2j. Create a column named average_mileage that is the mean of the city and highway mileage.

mpg['average_mileage'] = (mpg.hwy + mpg.cty)/ 2
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,city v. highway mileage,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,False,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,False,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,False,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,False,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,False,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,False,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,False,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,False,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,False,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,False,9,21.5

In [35]:
## 2k. Which dodge car has the best average mileage? The worst?
# first I need to return only the dodge cars
# ex. df['passing_math'] = df.math > 70
#d_mpg= mpg[mpg.manufacturer == 'dodge'] ## this wouldn't return anything in the df
mpg_dodge = mpg[mpg.manufacturer == 'dodge']

mpg_dodge.sample(10)

ValueError: a must be greater than 0 unless no samples are taken

In [50]:
## 3.
# data('mpg', show_doc=True) # view the documentation for the dataset
# mpg = data('mpg') # load the dataset and store it in a variable
data('Mammals', show_doc=True)
Mammals = data('Mammals')
Mammals

Mammals

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Garland(1983) Data on Running Speed of Mammals

### Description

Observations on the maximal running speed of mammal species and their body
mass.

### Usage

    data(Mammals)

### Format

A data frame with 107 observations on the following 4 variables.

weight

Body mass in Kg for "typical adult sizes"

speed

Maximal running speed (fastest sprint velocity on record)

hoppers

logical variable indicating animals that ambulate by hopping, e.g. kangaroos

specials

logical variable indicating special animals with "lifestyles in which speed
does not figure as an important factor": Hippopotamus, raccoon (Procyon),
badger (Meles), coati (Nasua), skunk (Mephitis), man (Homo), porcupine
(Erithizon), oppossum (didelphis), and sloth (Bradypus)

### Details

Used by Chappell (1989) and Koenker, Ng and Portnoy (1994) to illustrate the
fitting of piecewise linear curves.

### Source

Garland, T. (1983) The relation between maximal running speed and body mass in
terrestrial mammals, _J. Zoology_, 199, 1557-1570.

### References

Koenker, R., P. Ng and S. Portnoy, (1994) Quantile Smoothing Splines”
_Biometrika_, 81, 673-680.

Chappell, R. (1989) Fitting Bent Lines to Data, with Applications ot
Allometry, _J. Theo. Biology_, 138, 235-256.

### See Also

`rqss`

### Examples

    data(Mammals)
    attach(Mammals)
    x <- log(weight)
    y <- log(speed)
    plot(x,y, xlab="Weight in log(Kg)", ylab="Speed in log(Km/hour)",type="n")
    points(x[hoppers],y[hoppers],pch = "h", col="red")
    points(x[specials],y[specials],pch = "s", col="blue")
    others <- (!hoppers & !specials)
    points(x[others],y[others], col="black",cex = .75)
    fit <- rqss(y ~ qss(x, lambda = 1),tau = .9)
    plot(fit)

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

In [51]:
## 3a. How many rows and columns are there?
Mammals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

In [52]:
## 3b. What are the data types?
Mammals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

In [53]:
## 3c. Summarize the dataframe with .info and .describe
print(Mammals.describe())
Mammals.info()

            weight       speed
count   107.000000  107.000000
mean    278.688178   46.208411
std     839.608269   26.716778
min       0.016000    1.600000
25%       1.700000   22.500000
50%      34.000000   48.000000
75%     142.500000   65.000000
max    6000.000000  110.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

In [59]:
## 3d. What is the the weight of the fastest animal?
# find the fastest animal

#best_avg_mileage = mpg[mpg['average_mileage']== 39.5]
fastest_animal = Mammals[Mammals['speed']== 110.0]
print(Mammals['speed'].value_counts().sort_values())
print(fastest_animal)

30.0     1
100.0    1
24.0     1
35.0     1
14.0     1
15.0     1
29.0     1
18.0     1
37.0     1
67.0     1
61.0     1
110.0    1
17.0     1
1.6      1
6.8      1
57.0     1
7.4      1
3.2      1
8.9      1
3.6      1
8.6      1
105.0    1
4.0      1
55.0     1
33.0     1
59.0     1
36.0     1
9.7      1
2.4      1
26.0     1
9.0      1
9.1      1
90.0     1
21.0     1
47.0     1
11.0     2
20.0     2
27.0     2
25.0     2
97.0     2
50.0     2
81.0     2
45.0     3
48.0     3
32.0     3
16.0     3
13.0     3
72.0     4
65.0     4
80.0     5
60.0     5
40.0     5
70.0     6
64.0     6
56.0     8
Name: speed, dtype: int64
    weight  speed  hoppers  specials
53    55.0  110.0    False     False

In [55]:
## 3e. What is the overall percentage of specials?
Mammals.head(5)
# count True's
number_of_specials= (Mammals["specials"]==True).count()
print(number_of_specials)
# count False's
number_no_specials =(Mammals["specials"]== False).count()
print(number_no_specials)

107
107

In [57]:
Mammals.specials.sum() /  len(Mammals)

0.09345794392523364

In [60]:
## 3f.  How many animals are hoppers that are above the median speed? What percentage is this?
Mammals

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

In [61]:
## return df with only hoppers
Mammals[Mammals.hoppers == True]

     weight  speed  hoppers  specials
82    0.056   21.0     True     False
85    0.035   32.0     True     False
86    0.035   14.0     True     False
96    4.600   64.0     True     False
97    4.400   72.0     True     False
98    4.000   72.0     True     False
99    3.500   56.0     True     False
100   2.000   64.0     True     False
101   1.900   56.0     True     False
102   1.500   50.0     True     False
103   1.500   40.0     True     False

In [67]:
# find the median speed
Mammals.speed.median()

48.0

In [68]:
# those that are hoppers and faster than median speed
Mammals[(Mammals.hoppers == True) & (Mammals.speed > 48)]

     weight  speed  hoppers  specials
96      4.6   64.0     True     False
97      4.4   72.0     True     False
98      4.0   72.0     True     False
99      3.5   56.0     True     False
100     2.0   64.0     True     False
101     1.9   56.0     True     False
102     1.5   50.0     True     False